.header {
	padding-top: 55px;
	width: 100%;
	position: absolute;
	&__container {
		// display: flex;
		// justify-content: space-between;
		// align-items: center;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 16px;
	}
	&__logo {
		grid-column: 3 span;
	}
	&__phone {
		grid-column: 2 span;
		justify-self: end;
		display: flex;
		align-items: center;
	}
	&__icon {
		margin-right: 11px;
	}
	&__tel {
		color: var(--white-color);
		font-size: 16px;
		line-height: 24px;
	}
	&__burger {
		display: none;
	}
}

@media (max-width: 1024px) {
	.header {
		padding-top: 20px;
		&__phone {
			grid-column: 4 span;
			grid-row: 2;
			justify-self: unset;
		}
		&__logo {
			grid-column: 4 span;
		}
	}
}

@media (max-width: 635px) {
	.header {
		&__logo {
			grid-column: 12 span;
		}
		&__phone {
			grid-row: 3;
			grid-column: 12 span;
		}
	}
}

@media (max-width: 425px) {
	.header {
		&__logo {
			grid-column: 8 span;
			z-index: 40;
		}
		&__burger {
			display: inline-block;
		}
		&__phone {
			display: none;
		}
	}
}
