.nav {
	grid-column: 7 span;
	justify-self: center;
	align-self: center;
	&__list {
		display: flex;
	}
	&__item {
		&:not(:last-child) {
			margin-right: 45px;
		}
	}
	&__link {
		position: relative;
		color: var(--white-color);
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		&::after {
			content: "";
			position: absolute;
			bottom: -4px;
			left: 0;
			width: 0;
			height: 2px;
			background: var(--white-color);
			transition: width 0.3s ease-in-out;
		}
		&:hover,
		&:focus {
			&::after {
				width: 100%;
			}
		}
	}
}

@media (max-width: 1024px) {
	.nav {
		grid-column: 8 span;
		&__item {
			&:not(:last-child) {
				margin-right: 26px;
			}
		}
	}
}

@media (max-width: 635px) {
	.nav {
		grid-row: 2;
		grid-column: 12 span;
		justify-self: unset;
	}
}

@media (max-width: 425px) {
	.nav {
		display: none;
	}
}
