<section class="hero">
	<div class="container hero__container">
		<h3 class="hero__subtitle">OPEN EVERYDAY 6AM - 9PM</h3>
		<h1 class="hero__title">
			A bad day with lunch is better than a good day without it.
		</h1>
		<div class="hero__container-inner">
			<button class="btn-reset hero__button">Reserve a table</button>
			<ul class="hero__social list-reset">
				<li class="hero__item">
					<a href="#" class="hero__link">Fb</a>
				</li>
				<li class="hero__item">
					<a href="#" class="hero__link">Ig</a>
				</li>
				<li class="hero__item">
					<a href="#" class="hero__link">Tw</a>
				</li>
				<li class="hero__item">
					<a href="#" class="hero__link">Yt</a>
				</li>
			</ul>
		</div>
	</div>
</section>
