<section class="service">
	<div class="container service__container">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide slide">
					<div class="slide__container">
						<img
							loading="lazy"
							src="./img/quote.svg"
							class="image slide__quote"
							width="83"
							height="58"
							alt="Иконка квоты"
						/>
						<h3 class="slide__title">
							Goede service, lekker eten, toffe ambiance
						</h3>
						<p class="slide__text">
							Lorem ipsum dolor sit amet, consetetur sadipscing
							elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et dolore magna aliquyam erat, sed diam
							voluptua. At vero eos et accusam et justo duo
							dolores et ea rebum. Stet clita kasd gubergren.
						</p>
						<h5 class="slide__author">ALAIN HEYNDRICKX</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
