<section class="service">
	<div class="container service__container">
		<div class="swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide slide">
					<div class="slide__container">
						<img
							loading="lazy"
							src="./img/quote.svg"
							class="image slide__quote"
							width="83"
							height="58"
							alt="Иконка квоты"
						/>
						<h3 class="slide__title">
							Goede service, lekker eten, toffe ambiance
						</h3>
						<p class="slide__text">
							Lorem ipsum dolor sit amet, consetetur sadipscing
							elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et dolore magna aliquyam erat, sed diam
							voluptua. At vero eos et accusam et justo duo
							dolores et ea rebum. Stet clita kasd gubergren.
						</p>
						<h5 class="slide__author">ALAIN HEYNDRICKX</h5>
					</div>
				</div>
				<div class="swiper-slide slide">
					<div class="slide__container">
						<img
							loading="lazy"
							src="./img/quote.svg"
							class="image slide__quote"
							width="83"
							height="58"
							alt="Иконка квоты"
						/>
						<h3 class="slide__title">
							Goede service, lekker eten, second slide
						</h3>
						<p class="slide__text">
							Lorem ipsum dolor sit amet, consetetur sadipscing
							elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et dolore magna aliquyam erat, sed diam
							voluptua. At vero eos et accusam et justo duo
							dolores et ea rebum. Stet clita kasd gubergren.
						</p>
						<h5 class="slide__author">ALAIN HEYNDRICKX</h5>
					</div>
				</div>
				<div class="swiper-slide slide">
					<div class="slide__container">
						<img
							loading="lazy"
							src="./img/quote.svg"
							class="image slide__quote"
							width="83"
							height="58"
							alt="Иконка квоты"
						/>
						<h3 class="slide__title">
							Goede service, lekker eten, third slide
						</h3>
						<p class="slide__text">
							Lorem ipsum dolor sit amet, consetetur sadipscing
							elitr, sed diam nonumy eirmod tempor invidunt ut
							labore et dolore magna aliquyam erat, sed diam
							voluptua. At vero eos et accusam et justo duo
							dolores et ea rebum. Stet clita kasd gubergren.
						</p>
						<h5 class="slide__author">ALAIN HEYNDRICKX</h5>
					</div>
				</div>
			</div>
			<div class="service__buttons">
				<button class="btn-reset service__button btn-prev">
					<svg
						width="23"
						height="50"
						viewBox="0 0 23 50"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M21.8958 1.89998L2.87914 20.9166C0.633304 23.1625 0.633304 26.8375 2.87914 29.0833L21.8958 48.1"
							stroke="white"
							stroke-width="2"
							stroke-miterlimit="10"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</button>
				<button
					class="btn-reset btn-next service__button service__button-reversed"
				>
					<svg
						width="23"
						height="50"
						viewBox="0 0 23 50"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M21.8958 1.89998L2.87914 20.9166C0.633304 23.1625 0.633304 26.8375 2.87914 29.0833L21.8958 48.1"
							stroke="white"
							stroke-width="2"
							stroke-miterlimit="10"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
				</button>
			</div>
		</div>
	</div>
</section>
