<section class="timetable">
	<div class="container timetable__container">
		<ul class="timetable__list list-reset">
			<li class="timetable__item">
				<h4 class="timetable__title">Woensdag 12/01</h4>
				<p class="timetable__text">
					<span class="timetable__place">Verrassing van de Chef</span>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<span class="timetable__dish">Steak Tartaar</span>
				</p>
			</li>
			<li class="timetable__item">
				<h4 class="timetable__title">Donderdag 13/01</h4>
				<p class="timetable__text">
					<span class="timetable__place">Toast Roquefort</span>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<span class="timetable__dish">Penne met Kip en Prei</span>
				</p>
			</li>
			<li class="timetable__item">
				<h4 class="timetable__title">Vrijdag 14/01</h4>
				<p class="timetable__text">
					<span class="timetable__place">Verrassing van de Chef</span>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<span class="timetable__dish">Penne met Kip en Prei</span>
				</p>
			</li>
			<li class="timetable__item">
				<h4 class="timetable__title">Vrijdag 15/01</h4>
				<p class="timetable__text">
					<span class="timetable__place">Verrassing van de Chef</span>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<span class="timetable__dish">Penne met Kip en Prei</span>
				</p>
			</li>
			<li class="timetable__item">
				<h4 class="timetable__title">Vrijdag 16/01</h4>
				<p class="timetable__text">
					<span class="timetable__place">Verrassing van de Chef</span>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image timetable__dot"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<span class="timetable__dish">Penne met Kip en Prei</span>
				</p>
			</li>
		</ul>
		<div class="timetable__images">
			<picture class="timetable__image timetable__image-first">
				<source srcset="./img/timetable_2.webp" type="image/webp" />
				<img
					loading="lazy"
					src="./img/timetable_2."
					class="image"
					width="323"
					height="486"
					alt="Изображение места"
				/>
			</picture>
			<picture class="timetable__image timetable__image-second">
				<source srcset="./img/timetable_3.webp" type="image/webp" />
				<img
					loading="lazy"
					src="./img/timetable_3.png"
					class="image"
					width="471"
					height="502"
					alt="Изображение места"
				/>
			</picture>
			<picture class="timetable__image timetable__image-third">
				<source srcset="./img/timetable_1.webp" type="image/webp" />
				<img
					loading="lazy"
					src="./img/timetable_1.png"
					class="image"
					width="323"
					height="486"
					alt="Изображение места"
				/>
			</picture>
		</div>
	</div>
</section>
