<section class="timetable">
	<div class="container timetable__container">
		<ul class="timetable__list">
			<li class="timetable__item">
				<h4 class="timetable__title">Woensdag 12/01</h4>
				<p class="timetable__text">
					<span class="timetable__place">Verrassing van de Chef</span>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<img
						loading="lazy"
						src="./img/dot.svg"
						class="image"
						width="5"
						height="5"
						alt="Иконка точка"
					/>
					<span class="timetable__dish">Steak Tartaar</span>
				</p>
			</li>
		</ul>
	</div>
</section>
