// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
	// base
	--font-family: "Poppins", sans-serif;
	--content-width: 1170px;
	--container-offset: 15px;
	--container-width: calc(
		var(--content-width) + (var(--container-offset) * 2)
	);

	// colors
	--white-color: #fff;
	--black-color: #000;
	--light-black-color: #1d1d1f;
	--blue-color: #3a4574;
	--dark-blue-color: #25326a;
	--light-grey-color: #e7e7e7;
	--grey-color: #9f9e9e;
	--light-brown-color: #d3b47f;
}
